#N
clk

#S
rst_n

#W
req_valid
req_we
req_addr.*
req_wdata.*
req_wstrb.*
resp_valid
resp_rdata.*
resp_stall

#E
mem_req_valid
mem_req_we
mem_req_addr.*
mem_req_wdata.*
mem_resp_rdata.*
mem_resp_valid
